.box1 {
    width: 300px;
    height: 400px;
    border: 1px solid red;
    box-sizing: border-box;
}

.box2 {
    width: 300px;
    height: 400px;
    padding: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
}