* {
    font-family: 'Baloo 2', cursive;
    /* position: relative; */
}

body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    transition: 0.3s ease-out;
    background: #1d0e4d;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px #a10d2f;
}

#text-input {
    width: 20%;
    font-size: 1rem;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    outline: none;
}

label {
    font-size: 25px;
    display: flex;
    margin: 5px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    align-items: center;
}


#counter {
    /* border: 1px solid red; */
    margin: 5px;
    /* padding: 5px; */
}

.container2 {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    width: 100px;
    font-size: 0.6em;
    outline: none;
    /* border: 2px solid red; */
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
    transition: 0.2s ease;
    background-color: #d60c45;
    color: white;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    position: absolute;
    font-size: 15px;
    bottom: 0;
    margin: 10px;
}