:root {
    margin: 0;
    padding: 0;
    background: #df3772;
    font-family: 'Fredoka One', cursive;;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

#list {
    text-decoration: none;
    margin: 20px;
    display: inline-block;
    text-shadow: 2px 2px black;
    color: white;
    font-size: 2rem;
    box-sizing: border-box;
    transition: all .3s ease;
    /* border: 1px solid red; */
}

/* #list::before {
    content: '';
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px black;
    width: 0%;
    height: 3px;
    background: white;
    transition: width 0.3s;
} */

#list::after {
    content: '';
    display: flex;
    flex-direction: column;
    right: 0%;
    box-shadow: 2px 2px black;
    width: 0%;
    height: 3px;
    background: white;
    transition: width 0.3s;
}

#list:hover {
    transform: scale(1.1);
}

/* #list:hover::before {
    width: 100%;
} */

#list:hover::after {
    width: 100%;
}
